:root {
  font-size: 62.5%;
  --text-color: #323238;
  --btn-hover-color: #9a86ff;
  --button-active: rgb(128, 16, 220);
  --disabled-color: #a8a8a8;
  --range-track-color: #a04ae7;
  --range-tumb-color: #8120d1;
}

.hidden {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body {
  width: 100vw;
  height: 100vh;

  color: var(--text-color);
  font-size: 6rem;

  background-color: var(--bg-color);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;
}

.content {
  width: 30rem;
  scale: clamp(1, 1.2, 1.8);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons button {
  display: flex;
  cursor: pointer;
  font-size: 4.8rem;

  background: transparent;
  color: var(--text-color);

  width: fit-content;
  height: fit-content;

  border: none;
  clip-path: circle(50%);
}

.buttons button:hover {
  color: var(--btn-hover-color);
}

:where(.plus:disabled, .minus:disabled, .pause:disabled) i {
  color: var(--disabled-color);
}

.sounds {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 4rem;
}

.sounds .button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  border-radius: 2rem;

  background: #3a3a3aaf;
}

.sounds .button label {
  position: absolute;
  left: auto;
  cursor: pointer;
}

.sounds .button input[type='checkbox']:checked {
  background: var(--button-active);
  border-radius: 2rem;
}

.sounds .button input[type='checkbox'] {
  width: 13rem;
  height: 13rem;
  appearance: none;
  cursor: pointer;
}

.sounds .button input[type='range'] {
  position: absolute;
  bottom: 1.4rem;
  width: 80%;
}

input[type='range']::-webkit-slider-runnable-track {
  background-color: #00bfff;
  border-radius: 8.5rem;
  height: 0.4rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -6px;
  background-color: #9b35de;
  border-radius: 0.5rem;
  height: 1rem;
  width: 1rem;
}

:is(#rain:checked, #tree:checked, #store:checked, #fire:checked) ~ .range {
  visibility: visible;
}

.rangeValue {
  font-size: 1rem;
  position: absolute;
  bottom: 2.4rem;
}

.range {
  visibility: hidden;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #171717;
    --text-color: #fafafa;
    --button-active: rgb(148, 17, 255);
  }
}

@media (min-width: 1000px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 65rem;
    max-width: 100rem;
  }

  .sounds {
    width: 28rem;
  }
}
